@{
    ViewData["Title"] = "Home Page";
}
<section class="index-body">
    <div class="index-img-background">
        <img src="~/img/krita.png" alt="Krita" class="uk-position-center">
    </div>
</section>
