<div id="carouselCamisasFla" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/fla19.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="~/images/fla20.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="~/images/fla21.jpg" class="d-block w-100" alt="">
    </div>
     <div class="carousel-item">
      <img src="~/images/fla22.png" class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button"  color = black data-bs-target="#carouselCamisasFla" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCamisasFla" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
