<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - krita</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="~/css/cadastrarusuario.css"  />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/iziToast/css/iziToast.min.css">
    <link rel="stylesheet" href="~/lib/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="~/css/usuario.css">  
</head>
<body onscroll="usuario.consultaFicaClaro()">
    <header>
        <div class="menu">
            <button class="uk-button uk-button-default colorIconMenu" type="button" uk-icon="icon: menu; ratio:2" uk-toggle="target: #offcanvas-nav"></button>
            
            <div id="offcanvas-nav" uk-offcanvas="overlay: false">
                <div class="uk-offcanvas-bar bgMenu">
                    <ul class="uk-nav uk-nav-default">
                        <button class="uk-offcanvas-close"><span uk-icon="icon: arrow-left; ratio: 3"></span></button>
                        <br><br><br><br>
                        <li class="uk-active">
                            <a class="nav-link textomenu" asp-area="" asp-controller="Home" asp-action="Index"><span uk-icon="icon: home; ratio: 2"></span></a>
                        </li>
                        <li>
                            <a href="#" class="textomenu">
                                Cliente
                            </a>
                        </li>
                        <li>
                            <a href="#" class="textomenu">
                                Colaborador
                            </a>
                        </li>
                        <li>
                            <a href="#" class="textomenu">
                                Preço
                            </a>
                        </li>
                        <li>
                            <a href="#" class="textomenu">
                                Projeto
                            </a>
                        </li>
                        <li>
                            <a class="nav-link textomenu" asp-area="" asp-controller="Usuario" asp-action="Busca">Usuário</a>
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-inline">
                <button class="uk-button uk-button-default colorIconUser" type="button"><span uk-icon="icon: user; ratio:2"></span></button>
                <div class="corAreaUser" uk-dropdown="mode: click; pos: bottom-center">
                    <center> @TempData["Apelido"] </center>
                    <center> @TempData["Email"] </center>
                    <div class="linhaHorizontal"></div>
                    <center><a class="sairSpan" asp-controller="login" asp-action="logout"><span uk-icon="sign-out">Sair</span></a></center>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/iziToast/js/iziToast.min.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/uikit/js/uikit.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        site.init();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
