@{
    Layout = "_LoginLayout";
}
@model string

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <Title>Esqueci Senha</Title>
    <link rel="stylesheet" href="~/css/EsqueciSenha.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/iziToast/css/iziToast.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/uikit/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<body>
    <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-esqueci-senha" id="id-modal">
            <form id="form-esqueci-senha"  method="post" role="form" onsubmit="login.esqueciSenha()">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2>Esqueci Senha</h2>
                <div class="form-campos">
                    <input class="uk-input" name="Id" type="text" style="display: none;" value="1005" placeholder="Id">
                    <div class="textfield-esqueci-senha">
                        <input class="input-esqueci-senha" name="email" type="email" placeholder="Email" required readonly value="@Model">
                        <span id="spanEmail" class="uk-text-danger"></span>
                    </div>
                    <div class="textfield-esqueci-senha">
                        <input class="input-esqueci-senha" id="senhaNova" name="senhaNova" type="password" required>
                        <label class="placeholder-esqueci-senha">
                            Nova Senha
                        </label>
                        <span id="spanEmail" class="uk-text-danger"></span>
                    </div>
                    <div class="textfield-esqueci-senha">
                        <input class="input-esqueci-senha" id="senhaNovaRepetida" name="senhaNovaRepetida" type="password" required>
                        <label class="placeholder-esqueci-senha">
                            Repetir Senha
                        </label>
                        <span id="spanSenha" class="uk-text-danger"></span>
                    </div>
                    <input class="botao-enviar" name="enviar" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>


    <script src="~/lib/iziToast/js/iziToast.min.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/uikit/js/uikit.min.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        UIkit.modal('#modal-center').show();
    </script>
    <script>
            login.init({
                urls: {
                    login: '@Url.Action("Login", "Login")',
                    esqueciSenha: '@Url.Action("NovaSenha")'
                }
            })
        </script>
</body>
</html>
