@model krita.ViewModels.Usuario.BuscarViewModel;

@{
    ViewData["Title"] = "Usuario";
    Layout = "_Layout";
}
<div class="overlay"></div>
<div class="consulta">
    <h1 class="titulo">Consulta Usuário</h1>
    <form id="form-busca" class="form-busca" onsubmit="usuario.buscar(this)">
        <div class="form-busca-inputs">
            <div class="textfield">
                <input type="number" name="Id" class="input-busca">
                <label class="placeholder">Código</label>
            </div>
            <div class="textfield">
                <input type="text" name="Apelido" class="input-busca">
                <label class="placeholder">Apelido</label>
            </div>
            <div class="textfield">
                <input type="text" name="Email" class="input-busca">
                <label class="placeholder">E-mail</label>
            </div>
            <button class="uk-button uk-button-default botao-busca" type="submit"><span
                    uk-icon="search"></span></button>
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid div-bloqueado">
            <label class="bloqueado">Bloqueados:
                <label><input class="uk-radio-sim" type="radio" name="Bloqueado" value="0"> Sim </label>
                <label><input class="uk-radio-nao" type="radio" name="Bloqueado" value="1"> Não </label>
            </label>
        </div>
    </form>
</div>
<div class="conteudo">
    <br />
    <div class="div-conteudo">
        <input id="clicarResultado" class="uk-radio" type="radio" name="Resultado" value="ResultadoPesquisa" checked>
        <label class="label-conteudo" for="clicarResultado">RESULTADOS DA PESQUISA</label>
        <input class="uk-radio" type="radio" name="Resultado" value="UltimoAcesso" id="clicarAcesso">
        <label class="label-conteudo" for="clicarAcesso">ÚLTIMOS ACESSOS</label>
    </div>
    <div id="ResultadoPesquisa"></div>
    <div id="UltimoAcesso"></div>
</div>

<div class="botao-cadastrar">
    <a href="#" uk-toggle="target: #modal-cadastrar" uk-icon="icon: plus; ratio: 2"></a>
</div>
<div id="modal-cadastrar" class="div-cadastrar uk-modal-container uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical  modal-cadastrar">
        <button id="botao-fechar-modal-cadastro" class="uk-modal-close-default" type="button" uk-close></button>
        <form id="form-cadastro" class="uk-form-stacked" role="form">
            <h2 class="uk-modal-title titulo-cadastrar-usuario"> Insira os dados do Usuário </h2>
            <div class="inputs-primeira-linha">
                <div class="textfield-cadastrar">
                    <input name="Apelido" class="input" type="text" required spellcheck="false">
                    <label class="placeholder-cadastrar">Apelido</label>
                </div>
                <div class="textfield-cadastrar">
                    <input id="input-email-cadastrar" name="Email" type="email" required spellcheck="false">
                    <label class="placeholder-cadastrar">Email</label>
                </div>
            </div>
            <br>
            <div class="permissoes">
                <input class="uk-input" type="text" placeholder="" disabled value="Permissões do Usuário">
            </div>
            <br><br><br><br><br><br><br><br>
            <div class="botoes-salvar">
                <input class="limpar" name="enviar" type="reset" value="Limpar">
                <button class="salvar" name="enviar" type="submit" value="Salvar"
                    onclick="usuario.cadastro()">Enviar</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="~/js/usuario.js"></script>
<script src="~/js/site.js"></script>
<script>
    usuario.init({
        urls: {
            buscar: '@Url.Action("Buscar")',
            cadastro: '@Url.Action("Cadastrar")',
            ulitmoAcesso: '@Url.Action("UltimoAcesso")'
        }
    })
</script>

</html>
